    <div id="elsewhere">
      <% cache "brighter_planet_layout/latest_tweet", :expires_in => 43.minutes do %>
        <!-- Cached at <%= Time.now %> -->
        <% tweet = ::BrighterPlanet.layout.latest_tweet -%>
        <% if tweet %>
          <div id="twitter">
            <p>
              <%= auto_link tweet.description.sub('brighterplanet: ', '') %>
              <span>via <%= link_to '@brighterplanet', 'http://twitter.com/brighterplanet' %></span>
            </p>
          </div>
        <% else %>
          <div id="twitter">
            <p>
              Check out our <a href="http://twitter.com/brighterplanet">Twitter feed</a>
              <span>via <a href="http://twitter.com/brighterplanet">@brighterplanet</a></span>
            </p>
          </div>
        <% end %>
      <% end %>
      <% cache "brighter_planet_layout/latest_blog_post", :expires_in => 47.minutes do %>
        <!-- Cached at <%= Time.now %> -->
        <% blog_post = ::BrighterPlanet.layout.latest_blog_post -%>
        <% if blog_post %>
          <div id="blog" class="<%= blog_post.author.downcase.dasherize %>">
            <p>
              <span><%= blog_post.author %> posted</span>
              <%= link_to blog_post.title, blog_post.link %>
              <span><%= time_ago_in_words blog_post.updated %> ago on <%= link_to 'Safety in Numbers', 'http://numbers.brighterplanet.com' %>, our blog</span>
            </p>
          </div>
        <% else %>
          <div id="blog" class="andy">
            <p>
              See <a href="http://numbers.brighterplanet.com">the latest posts</a>
              <span>by Andy on <a href="http://numbers.brighterplanet.com">Safety in Numbers</a>, our blog</span>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
