<div id="footer">
  <div id="shortcuts">
    <h3>Shortcuts</h3>
    <ul>
      <li><%= link_to_homesite 'Home' %></li>
      <li><%= link_to 'Blog', 'http://numbers.brighterplanet.com' %></li>
      <li><%= link_to 'Dev', 'http://brighterplanet.github.com' %></li>
      <li><%= link_to 'Keys', 'http://keys.brighterplanet.com' %></li>
      <li><%= link_to 'Carbon', 'http://carbon.brighterplanet.com' %></li>
      <li><%= link_to 'Data', 'http://data.brighterplanet.com' %></li>
      <li><%= link_to 'Cards', 'http://giving.bankofamerica.com/brighterplanet?cm_mmc=DEP-Affinity-_-brighterplanet-PAR-_-DA05LT005Y_partnersite_BrighterPlanet_ABE_Productlink-_-MyExpression' %></li>
      <li><%= link_to_homesite 'Footprint', 'users/me/footprint' %></li>
      <li><%= link_to 'Tests', 'http://tests.brighterplanet.com' %></li>
    </ul>
  </div>
  <div id="map">
    <div id="slogan">
      <h1>Brighter Planet™</h1>
      <p class="slogan">Bringing carbon to life</p>
      <p class="description">Easy, flexible on-demand carbon calculations in the cloud.</p>
      <p class="description"><%= link_to_homesite 'About us', 'about' %> &middot; <%= link_to_homesite 'Terms', 'terms' %></p>
      <p class="description">&copy;2011 Brighter Planet</p>
    </div>
    <div id="applications">
      <h3>Live applications</h3>
      <ul>
        <li class="cards"><%= link_to 'Visa® credit and debit cards', 'http://giving.bankofamerica.com/brighterplanet?cm_mmc=DEP-Affinity-_-brighterplanet-PAR-_-DA05LT005Y_partnersite_BrighterPlanet_ABE_Productlink-_-MyExpression' %> from Bank of America® with rewards powered by Brighter Planet</li>
      </ul>
    </div>
<%= render :partial => 'layouts/elsewhere' %>
  </div>
</div>
