<div id="footer">
  <div id="divider">
  </div>
  <div id="map">
    <div id="slogan">
      <h1>Brighter Planet™</h1>
      <p class="slogan">Business intelligence for a sustainable future</p>
      <p class="description">&copy;2011 Brighter Planet</p>
    </div>
    <div id="links">
      <p><%= link_to_homesite 'About us', 'about' %> &middot; <%= link_to_homesite 'Services', 'services' %> &middot; <%= link_to_homesite 'Terms', 'terms' %></p>
      <p><%= link_to 'Twitter', 'http://twitter.com/brighterplanet' %> &middot <%= link_to 'Blog', 'http://numbers.brighterplanet.com' %> &middot; <%= link_to 'Facebook', 'http://facebook.com/brighterplanet' %></p> 
      <%= footprint_badge %>
      <%= tronprint_badge %>
    </div>
  </div>
</div>
