<div id="footer">
  <div id="shortcuts">
    <h3>Shortcuts</h3>
    <ul>
      <li><%= link_to_homesite 'Home' %></li>
      <li><%= link_to 'Blog', 'http://numbers.brighterplanet.com' %></li>
      <li><%= link_to 'Dev', 'http://brighterplanet.github.com' %></li>
      <li><%= link_to 'Keys', 'http://keys.brighterplanet.com' %></li>
      <li><%= link_to 'Carbon', 'http://carbon.brighterplanet.com' %></li>
      <li><%= link_to 'Data', 'http://data.brighterplanet.com' %></li>
      <li><%= link_to_homesite 'Cards', 'cards' %></li>
      <li><%= link_to_homesite 'Footprint', 'sessions/new' %></li>
    </ul>
  </div>
  <div id="map">
    <div id="slogan">
      <h1>Brighter Planet</h1>
      <p class="slogan">Carbon is everywhere</p>
      <p class="description">Enterprise-grade cloud technology for climate intelligence.</p>
      <p class="description"><%= link_to_homesite 'About us', 'about' %></p>
    </div>
    <div id="middleware">
      <div class="main">
        <h3>Carbon Middleware</h3>
        <p>Real-time, scalable web services to enhance your business applications. <%= link_to_homesite 'Learn more', 'middleware' %></p>
      </div>
      <ul class="links">
        <li><%= link_to 'Information for developers', 'http://brighterplanet.github.com' %> Documentation, code samples, and libraries</li>
        <li><%= link_to_homesite 'Information for executives', 'products' %> Industry solutions and case studies</li>
      </ul>
    </div>
    <div id="applications">
      <h3>Live applications</h3>
      <ul>
        <li class="cards"><%= link_to_homesite 'Visa credit and debit cards', 'cards' %> powered by Carbon Middleware technology</li>
        <li class="profiler"><%= link_to_homesite 'Carbon footprint profiles', 'sessions/new' %> powered by Carbon Middleware technology</li>
      </ul>
    </div>
<%= render :partial => 'layouts/elsewhere' %>
  </div>
</div>
