<div id="footer">
  <div id="shortcuts">
    <h3>Shortcuts</h3>
    <ul>
      <li><%= link_to 'Home', 'http://brighterplanet.com' %></li>
      <li><%= link_to 'Blog', 'http://blog.brighterplanet.com' %></li>
      <li><%= link_to 'Prism', 'http://brighterplanet.com/applications/prism' %></li>
      <li><%= link_to 'Dev', 'http://brighterplanet.github.com' %></li>
      <li><%= link_to 'Keys', 'http://keys.brighterplanet.com' %></li>
      <li><%= link_to 'Carbon', 'http://carbon.brighterplanet.com' %></li>
      <li><%= link_to 'Data', 'http://data.brighterplanet.com' %></li>
      <li><%= link_to 'Cards', 'http://cards.brighterplanet.com' %></li>
      <li><%= link_to 'Footprint', 'http://profiles.brighterplanet.com' %></li>
    </ul>
  </div>
  <div id="map">
    <div id="slogan">
      <h1>Brighter Planet</h1>
      <p class="slogan">Carbon is everywhere</p>
      <p class="description">Enterprise-grade cloud technology for climate intelligence.</p>
      <p class="description"><%= link_to 'About us', 'http://brighterplanet.com/about' %> &nbsp;&middot;&nbsp; <%= link_to 'Our blog', 'http://blog.brighterplanet.com' %></p>
    </div>
    <div id="middleware">
      <div class="main">
        <h3>Carbon middleware</h3>
        <p>Real-time, scalable web services to enhance your business applications</p>
      </div>
      <ul class="links">
        <li><%= link_to 'Learn about how carbon middleware works', '#FIXME' %></li>
        <li><%= link_to 'Information for developers', 'http://brighterplanet.github.com' %></li>
      </ul>
      <ul class="industries">
        <li class="prism"><%= link_to '<strong>Prism</strong> carbon analytics for the payments industry'.html_safe, '#FIXME' %></li>
        <li class="alpha"><%= link_to '<strong>Alpha</strong> for the shipping and logistics industry'.html_safe, '#FIXME' %></li>
        <li class="beta"><%= link_to '<strong>Beta</strong> customer carbon information for the travel industry'.html_safe, '#FIXME' %></li>
      </ul>
    </div>
    <div id="consumer">
      <div id="cards">
        <h4><a href="#FIXME">Credit and debit cards</a></h4>
        <p>Powered by Bank of America, Visa, and Brighter Planet's carbon middleware technology</p>
      </div>
      <div id="profiler">
        <h4><a href="#FIXME">Carbon profiler</a></h4>
        <p>The world's most advanced carbon footprint calculator, powered by carbon middleware</p>
      </div>
      <p><%= link_to 'See other apps powered by carbon middleware', '#FIXME' %></p>
    </div>
  </div>
</div>
