<div id="header">
  <h1><span>Brighter Planet</span></h1>
  <p class="secondary"><%= link_to 'Our blog', 'http://numbers.brighterplanet.com/' %> &middot; <%= link_to_homesite 'Contact us', 'contact' %></p>
  <%= render :partial => 'layouts/nav' %>
</div>

<div id="main">
  <div id="title">
  <%= render :partial => 'layouts/title' %> 
  </div>

<% if flash[:error] or flash[:notice] %>
  <div id="flash">
<% if error = flash[:error] %>
    <p class="flash error"><%= error %></p>
<% elsif notice = flash[:notice] %>
    <p class="flash notice"><%= notice %></p>
<% end %>
  </div>
<% end %>

