<div id="header">
  <h1><span>Brighter Planet</span></h1>
  <ul>
    <li><%= link_to_homesite 'Home' %></li>
    <li><%= link_to_homesite 'About us', 'about' %></li>
    <li><%= link_to 'Research', '#FIXME' %></li>
    <li><%= link_to 'Developers', 'http://brighterplanet.github.com' %></li>
    <li><%= link_to 'Blog', 'http://numbers.brighterplanet.com/' %></li>
  </ul>
</div>

<div id="title">
<%= render :partial => 'layouts/title' %> 
</div>

<% if flash[:error] or flash[:notice] %>
<div id="flash">
<% if error = flash[:error] %>
<p class="flash error"><%= error %></p>
<% elsif notice = flash[:notice] %>
<p class="flash notice"><%= notice %></p>
<% end %>
</div>
<% end %>

