<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" id="brighterplanet-com">
<head>
  <title><%= title = @title ? "#{@title} [#{::BrighterPlanet.layout.application_name}]" : ::BrighterPlanet.layout.application_name %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en" />
  <meta name="robots" content="NOODP" />
  <!-- START brighter_planet_layout stylesheets -->
  <%= stylesheet_link_tag 'fonts' %>
  <%= stylesheet_link_tag brighter_planet_layout_cdn_url("/stylesheets/brighter_planet.css") %>
  <%= stylesheet_link_tag brighter_planet_layout_cdn_url("/stylesheets/idle.css") %>
  <!--[if IE]>
  <%= stylesheet_link_tag "/stylesheets/brighter_planet.css" %>
  <%= stylesheet_link_tag "/stylesheets/idle.css" %>
  <![endif]-->
  <% if File.exist? File.join(::BrighterPlanet.layout.rails_root, 'public', 'stylesheets', 'application.css') %>
    <%= stylesheet_link_tag "application" %>
  <% end %>
  <!-- END brighter_planet_layout stylesheets -->
  <!-- START brighter_planet_layout javascripts -->
  <%= javascript_include_tag brighter_planet_layout_cdn_url("/javascripts/prototype.rails-#{Rails::VERSION::STRING}.js") %>
  <%= javascript_include_tag brighter_planet_layout_cdn_url("/javascripts/effects.js") %>
  <%= javascript_include_tag brighter_planet_layout_cdn_url("/javascripts/dragdrop.js") %>
  <%= javascript_include_tag brighter_planet_layout_cdn_url("/javascripts/controls.js") %>
  <% if ::Rails::VERSION::MAJOR >= 3 %>
    <%= javascript_include_tag brighter_planet_layout_cdn_url("/javascripts/rails.rails-#{Rails::VERSION::STRING}.js") %>
  <% end %>
  <% if File.exist? File.join(::BrighterPlanet.layout.rails_root, 'public', 'javascripts', 'application.js') %>
    <%= javascript_include_tag "application" %>
  <% end %>
  <!-- END brighter_planet_layout javascripts -->
  <%= csrf_meta_tag if ::Rails::VERSION::MAJOR >= 3 %>
  <link rel="shortcut icon" type="image/ico" href="<%= brighter_planet_layout_cdn_url('/favicon.ico') %>" />
  <%= render_or_nothing :partial => 'layouts/head' %>
  <%= yield :head %>
</head>
<body<%= " class=\"#{ @bodyclass }\"".html_safe if @bodyclass %><%= " id=\"#{ @bodyid }\"".html_safe if @bodyid %>>

<%= render :partial => 'layouts/google_analytics' %>

<%= render :partial => 'layouts/header' %>

<%= render_or_nothing :partial => 'layouts/top' %>
<%= yield :top %>

<div id="content">
<%= yield %>
</div>

<%= render_or_nothing :partial => 'layouts/bottom' %>
<%= yield :bottom %>

<%= render :partial => 'layouts/footer' %>

</body>
</html>
